@font-face {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    src: local(""),
    url("../fonts/fraunces-9pt-black.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/fraunces-9pt-black.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

*{
    box-sizing: border-box;
}




html{
    height: 100%;
    
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", "Arial", sans-serif; */
    /* font-size: 16px; */
    /* font-weight: 400; */
    /* line-height: var(--main-line-height); */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container{
    width: 100%;
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}



/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}

.site-header{
    padding: 32px 0 41px 0;
    z-index: 2;
}

.site-header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.site-header__menu-btn{
    width: 16px;
    height: 15px;
    background-image: url("../images/mobile-hero-btn.svg");
    background-color: transparent;
    border: none;
}

.close{
    display: none;
}

.sitenav{
    display: none;
    
}

.sitenav__list{
    display: flex;
    align-items: center;
    list-style: none;
}

.sitenav__item:not(:last-child){
    margin-right: 33px;
}
.sitenav__link{
    font-family: "Barlow", "Arial", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}

.hero{
    padding-bottom: 120px;
}

.hero__img{
    display: flex;
    flex-direction: column;
    padding: 100px 24px;
    background-image: url("../images/hero-mobilee.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    /* background-position: calc(50%) calc(50%); */
}


.hero__heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;    
    text-align: center;
    color: #FEFCF7;
}

.hero__desc{
    margin-top: 0;
    margin-bottom: 39px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; 
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.hero__link{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding:15px 31px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;       
    color: #FEFCF7;    
    background: #0E8784;
    border-radius: 6px;
    text-decoration: none;
}



.collection__list{
    list-style: none;
    padding-top: 77px;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%), url("../images/mobile/home-collection.svg");
    background-size: 285px 32px;
    background-repeat: no-repeat;
    background-position: top center;
}



.collection__item:not(:last-child){
    margin-bottom: 48px;
}

.collection__img{
    margin-right: auto;
    margin-left: auto;
}

.collection__big-img{
    display: none;
}

.collection__box-txt{
    width: 282px;
    margin-right: auto;
    margin-left: auto;
}

.colllection__title{
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;  
    color: #333D4B;
}

.collection__desc{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #333D4B;
}

.choose{
    padding-top: 120px;
    position: relative;
}

.choose__box{   
    padding: 64px 24px 720px 24px;
    background-color: #2C343E;
    border-radius: 10px;
}

.choose__txt{
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;  
    text-align: center;  
    color: #FEFCF7;
}

.choose__desc{
    margin-bottom: 64px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; 
    text-align: center; 
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.choose__list{
    position: absolute;
    top: 447px;
    left: 0;
    right: 0;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
}

.choose__item{
    position: relative;
    width: 100%;
    max-width: 279px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 200px 12px 48px;
    align-items: center;
    background-color: #0E8784;
    border-radius: 8px;
}

.choose__item::before{
    position: absolute;
    top: 129px;
    left: 35%;
    width: 72px;
    height: 71px;
    background-image: url("../images/mobile/mobile-home-best.svg");
    background-repeat: no-repeat;
    content: "";
}

.choose__item:nth-child(2)::before{
    background-image: url("../images/mobile/mobile-home-benefits.svg");
}

.choose__item:nth-child(3)::before{
    top: 135px;
    width: 72px;
    height: 50px;
    background-image: url("../images/mobile/mobile-home-free.svg");
}

.choose__heading{
    margin-top: 56px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;    
    color: #FEFCF7;
}

.choose__descr{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;  
    color: #FEFCF7;
}

@media only screen and (min-width: 375px){
    
    .hero__img{
        background-image: url("../images/hero-tablet.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        border-radius: 5px;
    }
    
    .hero__wrap{
        width: 100%;
        max-width: 398px;
        background-image: none;
    }
    
    .hero__heading{
        font-size: 48px;
        line-height: 48px;
    }
    
    .hero__heading,
    .hero__desc{
        text-align: left;
    }
    
    
    
}

@media only screen and (min-width: 655px){
    
    
    
    .logo__img{
        width: 236px;
        height: 26px;
    }
    
    .site-header__menu-btn{
        display: none;
    }
    
    .sitenav{
        display: block;
    }
    
    .site-header__menu-btn{
        display: none;
    }
    
    .close{
        display: none;  
    }
    
    .collection__img{
        display: none;
    }
    
    .collection__list{
        background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%), url("../images/tablet/tablet-collection.svg");
        background-size: 683px 75px;
    }
    
    .collection__item{
        width: 282px;
        margin-right: auto;
        margin-left: auto;
    }
    
    
    
    .collection__big-img{
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    
    .collection__box-txt{
        width: 282px;
        
    }
    
    .choose__box{   
        padding: 71px 24px 720px 24px;
        background-color: #2C343E;
        border-radius: 10px;
    }
    
    
    .choose__txt{
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 28px;
        line-height: 28px;  
        text-align: center;  
        color: #FEFCF7;
    }
    
    .choose__desc{
        font-family: 'Barlow';
        font-size: 15px;
        line-height: 25px;
        text-align: center; 
    }
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 0;
        right: 0;
        z-index: 3;
        margin-right: auto;
        margin-left: auto;
    }
    
    .choose__item{
       position: relative;
        width: 100%;
        max-width: 573px;
        margin: 0 auto;
        margin-bottom: 24px;
        padding: 41px 48px;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }

    .choose__item::before,
    .choose__item:nth-child(2)::before,
    .choose__item:nth-child(3)::before{
        background-image: none;
    }

    .choose__box-txt{
        width: 100%;
        max-width: 344px;
        margin-left: auto;
    }

    .choose__item::before{
        position: absolute;
        top: 117px;
        left: 64px;
        width: 55px;
        height: 56px;
        background-image: url("../images/tablet/best.svg");
        background-repeat: no-repeat;
        content: "";
    }

    .choose__item:nth-child(2)::before{
        background-image: url("../images/tablet/benefit.svg");
    }

    .choose__item:nth-child(3)::before{
        background-image: url("../images/tablet/free.svg");
    }

    .choose__heading{
        margin-bottom: 16px;
    }

    .choose__descr{
        margin-top: 0;
    }
    .choose__heading,
    .choose__descr{
        text-align: left;
    }


    
}





@media only screen and (min-width: 1000px){
    .hero__img{
        background-image: url("../images/hero-desctop.png");
        background-size: cover;
        background-position: center;
    }
    
    .hero__wrap{
        width: 100%;
        max-width: 493px;
    }
    
    .hero__heading{
        font-size: 72px;
        line-height: 72px;
    }
    
    .hero__desc{
        font-size: 16px;
        line-height: 26px;
    }
    
    .collection__list{
        display: flex;  
    }

    .collection__item{
        margin: 0;
    }

    .collection__item:not(:last-child){
        margin-right: 30px;
    }
    
    .collection__desc{
        font-size: 16px;
        line-height: 26px;
    }

     
    .choose__box{   
        padding: 112px 35px 317px 35px;
        background-color: #2C343E;
        border-radius: 10px;
    }

    .collection__box-txt{
        max-width: 200px;
    }
    
    
    .choose__txt{
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px; 
        text-align: center;  
        color: #FEFCF7;
    }
    
    .choose__desc{
        font-family: "Barlow";
        font-size: 16px;
        line-height: 26px;
        text-align: center; 
    }
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 6%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        max-width: 277px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }

    .choose__item:not(:last-child){
        margin-right: 30px;
    }

    .choose__item::before,
    .choose__item:nth-child(2)::before,
    .choose__item:nth-child(3)::before{
        background-image: none;
    }


    .choose__item::before{
        position: absolute;
        top: 117px;
        left: 35%;
        width: 72px;
        height: 71px;
        background-image: url("../images/mobile/mobile-home-best.svg");
        background-repeat: no-repeat;
        content: "";
    }

    .choose__item:nth-child(2)::before{
        background-image: url("../images/mobile/mobile-home-benefits.svg");
    }

    .choose__item:nth-child(3)::before{
        width: 72px;
        height: 50px;
        background-image: url("../images/mobile/mobile-home-free.svg");
    }

    .choose__box-txt{
        width: 100%;
        max-width: 540px;
        padding: 200px 48px 4px;
    }


    .choose__heading{
        margin-bottom: 16px;
    }

    .choose__descr{
        margin-top: 0;
    }
    .choose__heading,
    .choose__descr{
        text-align: center;
    }
}

@media only screen and (min-width: 1040px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 5%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        max-width: 296px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 1080px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 7%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        max-width: 296px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 1111px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 5%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        min-width: 314px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 1146px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 5%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        min-width: 332px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 1176px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 5%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        min-width: 334px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 1200px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 4%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        min-width: 345px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 1250px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 6%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        min-width: 350px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}


@media only screen and (min-width: 1286px){
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 7%;
        right: 0;
        z-index: 3;
        display: flex;

    }
    
    .choose__item{
       position: relative;
        width: 100%;
        min-width: 350px;
        margin-bottom: 24px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
}




.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 100%; 
    padding-top: 100px;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    animation: modalContentFadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes modalContentFadeIn {
    0%{
        transform: scale(0.8);
        opacity: 0.1;
    }
    
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


.modal__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    list-style: none;
}

.modal__item:not(last-child){
    margin-bottom: 32px;
}

.modal__link{
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    text-decoration: none;
}










