@font-face {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    src: local(""),
    url("../fonts/fraunces-9pt-black.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/fraunces-9pt-black.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

*{
    box-sizing: border-box;
}




html{
    height: 100%;
    
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", "Arial", sans-serif; */
    /* font-size: 16px; */
    /* font-weight: 400; */
    /* line-height: var(--main-line-height); */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container{
    width: 100%;
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}



/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}

.site-header{
    padding: 32px 0 41px 0;
    z-index: 2;
}

.site-header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.site-header__menu-btn{
    width: 16px;
    height: 15px;
    background-image: url("../images/mobile-hero-btn.svg");
    background-color: transparent;
    border: none;
}

.close{
    display: none;
}

.sitenav{
    display: none;
    
}

.sitenav__list{
    display: flex;
    align-items: center;
    list-style: none;
}

.sitenav__item:not(:last-child){
    margin-right: 33px;
}
.sitenav__link{
    font-family: "Barlow", "Arial", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}

.hero{
    padding-bottom: 120px;
}

.hero__img{
    display: flex;
    flex-direction: column;
    padding: 25px 24px;
    background-image: url("../images/hero-mobilee.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}


.hero__heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 31px;
    line-height: 36px;    
    text-align: center;
    color: #FEFCF7;
}

.hero__desc{
    margin-top: 0;
    margin-bottom: 39px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; 
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.hero__link{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding:16px 20px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;       
    color: #FEFCF7;    
    background: #0E8784;
    border-radius: 6px;
    text-decoration: none;
}



.collection__list{
    list-style: none;
    padding-top: 77px;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%), url("../images/mobile/home-collection.svg");
    background-size: 285px 32px;
    background-repeat: no-repeat;
    background-position: top center;
}



.collection__item:not(:last-child){
    margin-bottom: 48px;
}

.collection__img{
    margin-right: auto;
    margin-left: auto;
}

.collection__big-img{
    display: none;
}

.collection__box-txt{
    width: 282px;
    margin-right: auto;
    margin-left: auto;
}

.collection__title{
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;  
    color: #333D4B;
}

.collection__desc{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #333D4B;
}

.choose{
    padding-top: 120px;
    position: relative;
}

.choose__box{   
    padding: 64px 24px 772px 24px;
    background-color: #2C343E;
    border-radius: 10px;
}

.choose__txt{
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;  
    text-align: center;  
    color: #FEFCF7;
}

.choose__desc{
    margin-bottom: 64px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; 
    text-align: center; 
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.choose__list{
    position: absolute;
    top: 489px;
    left: 0;
    right: 0;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
}

.choose__item{
    position: relative;
    width: 100%;
    max-width: 236px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 200px 12px 48px;
    align-items: center;
    background-color: #0E8784;
    border-radius: 8px;
}

.choose__item::before{
    position: absolute;
    top: 129px;
    left: 35%;
    width: 72px;
    height: 71px;
    background-image: url("../images/mobile/mobile-home-best.svg");
    background-repeat: no-repeat;
    content: "";
}

.choose__item:nth-child(2)::before{
    background-image: url("../images/mobile/mobile-home-benefits.svg");
}

.choose__item:nth-child(3)::before{
    top: 135px;
    width: 72px;
    height: 50px;
    background-image: url("../images/mobile/mobile-home-free.svg");
}

.choose__heading{
    margin-top: 56px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;    
    color: #FEFCF7;
}

.choose__descr{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;  
    color: #FEFCF7;
}

.works{
    padding-top: 717px;
    padding-bottom: 120px;
}

.works__item{
    width: 100%;
}

.works__item::before{
    display: block;
    background-image: url("../images/01.svg");
    width: 101px;
    height: 72px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    content:"";
}

.works__item:nth-child(2)::before{
    width: 101px;
    height: 72px;
    background-image: url("../images/02.svg");
}

.works__item:nth-child(3)::before{
    width: 101px;
    height: 72px;
    background-image: url("../images/03.svg");
}

.works__heading{
    margin-bottom: 80px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #83888F;
}

.works__title{
    margin-bottom: 24px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    
}

.works__desc{
    margin-bottom: 56px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;    
    color: #333D4B;
}

.works__link-box{
    max-width: 217px;
    margin-right: auto;
    margin-left: auto;
}

.works__link{
    display: inline-block;
    padding:15px 31px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;       
    color: #FEFCF7;    
    background: #0E8784;
    border-radius: 6px;
    text-decoration: none;
}

.footer-box{
    width: 100%;
    min-width: 262px;
    padding: 54px 55px;
    background-color: #2C343E;
}

.footer-box .logo .logo__img{
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.footer-box__item{
    text-align: center;
}

.footer-box__item:not(:last-child){
    margin-bottom: 24px;    
}

.footer-box__item:last-child{
    margin-bottom: 49px;
}

.footer-box__link{
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}


.social__list{
    display: flex;
    justify-content: center;
}

.social__item{
    margin-right: 24px;
}

.social__link{
    color: #fff;
    transition: all 0.3s ease;
}

/* ========================= 

DEFAULT MOBILE STYLES END

=============================*/

/* =============================

MOBILE STYLES FOR 375px START

==============================*/



@media only screen and (min-width: 375px){
    
    .hero__img{
        background-image: url("../images/hero-tablet.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        border-radius: 5px;
    }
    
    .hero__wrap{
        width: 100%;
        max-width: 398px;
        background-image: none;
    }
    
    .hero__heading{
        font-size: 48px;
        line-height: 48px;
    }
    
    .hero__heading,
    .hero__desc{
        text-align: left;
    }
    
    .works{
        padding-top: 717px;
    }
    
}

/* ==============================

MOBILE STYLES FOR 375px FINISH

=============================*/



@media only screen and (min-width: 450px){
    
    
    /* ==================================
    
    MOBILE STYLES GREEN CARDS OPTIMIZED
    
    =====================================*/
    
    .choose__item{
        max-width: 340px;
    }
}

@media only screen and (min-width: 530px){
    
    /* ==================================
    
    MOBILE STYLES GREEN CARDS OPTIMIZED
    
    =====================================*/
    .choose__item{
        max-width: 379px;
    }
}

@media only screen and (min-width: 655px){
    
    /* =============================
    
    TABLET STYLES FOR 655px START
    
    ==============================*/
    
    .logo__img{
        width: 236px;
        height: 26px;
    }
    
    .site-header__menu-btn{
        display: none;
    }
    
    .sitenav{
        display: block;
    }
    
    .site-header__menu-btn{
        display: none;
    }
    
    .close{
        display: none;  
    }
    
    .collection__img{
        display: none;
    }
    
    .collection__list{
        background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%), url("../images/tablet/tablet-collection.svg");
        background-size: 683px 75px;
    }
    
    .item{
        display: flex;
    }
    
    
    
    .collection__big-img{
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    
    .collection__box-txt{
        width: 282px;
        
    }
    
    .choose__box{  
        padding: 71px 24px 475px 24px;
        text-align: center;
        background-color: #2C343E;
        border-radius: 10px;
    }
    
    
    .choose__txt{
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 28px;
        line-height: 28px;  
        text-align: left;  
        color: #FEFCF7;
    }
    
    .choose__desc{
        font-family: 'Barlow';
        font-size: 15px;
        line-height: 25px;
        text-align: left; 
    }
    
    .txt{
        text-align: center;
    }
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 0;
        right: 0;
        z-index: 3;
        margin-right: auto;
        margin-left: auto;
    }
    
    .choose__item{
        position: relative;
        width: 100%;
        max-width: 573px;
        margin: 0 auto;
        margin-bottom: 24px;
        padding: 41px 48px;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
    
    .choose__item::before,
    .choose__item:nth-child(2)::before,
    .choose__item:nth-child(3)::before{
        background-image: none;
    }
    
    .choose__box-txt{
        width: 100%;
        max-width: 344px;
        margin-left: auto;
    }
    
    .choose__item::before{
        position: absolute;
        top: 117px;
        left: 64px;
        width: 55px;
        height: 56px;
        background-image: url("../images/tablet/best.svg");
        background-repeat: no-repeat;
        content: "";
    }
    
    .choose__item:nth-child(2)::before{
        background-image: url("../images/tablet/benefit.svg");
    }
    
    .choose__item:nth-child(3)::before{
        background-image: url("../images/tablet/free.svg");
    }
    
    .choose__heading{
        margin-bottom: 16px;
    }
    
    .choose__descr{
        margin-top: 0;
    }
    .choose__heading,
    .choose__descr{
        text-align: left;
    }
    
    
    .works{
        padding-top: 434px;
        /* padding-bottom: 120px; */
    }
    
    .works__list{
        display: flex;
    }
    
    .works__heading{
        margin-bottom: 40px;
        text-align: left;
    }
    
    .works__list{
        position: relative;
    }
    
    .works__list::before{
        position: absolute;
        z-index: 3;
        display: inline-block;
        width: 497px;
        height: 31px;
        background-image: url("../images/tablet-works-before.svg");
        background-position: left;
        background-repeat: no-repeat;
        content: "";
    }
    
    .works__item:not(:last-child){
        margin-right: 10px;
    }
    .works__item::before{
        margin-left: 0;
        margin-top: 62px;   
    }
    
    .works__title, 
    .works__desc{
        text-align: left;
        
    }
    
    .works__link-box{
        max-width: 217px;
        margin-right: auto;
        margin-left: 0;
    }
    
    
    .footer-box{
        /* width: 100%; */
        min-width: 300px;
        
        padding: 54px 55px;
        background-color: #2C343E;
    }
    
    .footer-box .footer-box__list{
        margin-right: auto;
        margin-left: auto;
    }
    
    .footer-box__list{
        display: flex;
        max-width: 318px;
    }
    
    .footer-box__item{
        min-width: 0;
        margin-right: 33px;
    }
    
    .footer-box__item:not(:last-child){
        margin-bottom: 24px;    
    }
    
    .footer-box__item:last-child{
        margin-bottom: 49px;
    }
    
}


/* =============================

TABLET STYLES FOR 655px FINISH

==============================*/



@media only screen and (min-width: 749px) {
    
    /* =============================
    
    TABLET STYLES BIG NUMBER'S BG-IMG OPTIMIZED
    
    ==============================*/
    .works__list::before{
        width: 791px;
        background-image: url("../images/tablet-works-before-large.svg");
    }
}


@media only screen and (min-width: 850px) {
    /* =============================
    
    TABLET STYLES BIG NUMBER'S BG-IMG OPTIMIZED
    
    ==============================*/
    .works__list::before{
        width: 791px;
        background-image: url("../images/tablet-works-before-medium.svg");
    }
}



@media only screen and (min-width: 1000px){
    
    /* =============================
    
    DESKTOP STYLES FOR 1000px START
    
    ==============================*/
    .sitenav__link{
        transition: all 0.3s ease;
    }
    
    .sitenav__link:hover{
        color:  #333D4B;
        
    }
    
    .hero__img{
        background-image: url("../images/hero-desctop.png");
        background-size: cover;
        background-position: center;
    }
    
    .hero__wrap{
        width: 100%;
        max-width: 493px;
    }
    
    .hero__heading{
        font-size: 72px;
        line-height: 72px;
    }
    
    .hero__desc{
        font-size: 16px;
        line-height: 26px;
    }
    
    .hero__link{
        transition: all 0.3s ease;
    }
    
    .hero__link:hover{
        background-color: #66D2CF;
    }
    
    .hero__link:active{
        background-color: #E2DEDB;
        
    }
    
    .collection__list{
        display: flex;
    }
    
    .collection__list{
        display: flex;
    }
    
    .item{
        display: block;
        margin-left: auto;
    }
    
    .collection__desc{
        font-size: 16px;
        line-height: 26px;
    }
    
    
    .collection__box-txt{
        max-width: 200px;
        margin: 0;
    }
    .choose__box{
        padding: 71px 24px 291px 24px;
    }
    
    .choose__txt{
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px; 
        text-align: center;  
        color: #FEFCF7;
    }
    
    .choose__desc{
        font-family: "Barlow";
        font-size: 16px;
        line-height: 26px;
        text-align: center; 
    }
    
    .choose__list{
        position: absolute;
        top: 447px;
        left: 0;
        right: 0;
        z-index: 3;
        display: flex;
        justify-content: center;
        
    }
    
    .choose__item{
        position: relative;
        width: 100%;
        max-width: 284px;
        margin-bottom: 24px;
        margin: 0;
        padding: 200px 48px 48px;
        align-items: center;
        background-color: #0E8784;
        border-radius: 8px;
    }
    
    .choose__item:not(:last-child){
        margin-right: 30px;
    }
    
    .choose__item::before,
    .choose__item:nth-child(2)::before,
    .choose__item:nth-child(3)::before{
        background-image: none;
    }
    
    
    .choose__item::before{
        position: absolute;
        top: 117px;
        left: 35%;
        width: 72px;
        height: 71px;
        background-image: url("../images/mobile/mobile-home-best.svg");
        background-repeat: no-repeat;
        content: "";
    }
    
    .choose__item:nth-child(2)::before{
        background-image: url("../images/mobile/mobile-home-benefits.svg");
    }
    
    .choose__item:nth-child(3)::before{
        width: 72px;
        height: 50px;
        background-image: url("../images/mobile/mobile-home-free.svg");
    }
    
    .choose__box-text{
        width: 100%;
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
    }
    
    
    .choose__heading{
        margin-bottom: 16px;
    }
    
    .choose__descr{
        margin-top: 0;
    }
    .choose__heading,
    .choose__descr{
        text-align: center;
    }
    
    .works{
        padding-top: 351px;
    }
    
    
    .works__heading{
        margin-bottom: 80px;
        text-align: left;
    }
    
    .works__list{
        position: relative;
    }
    
    .works__list::before{
        width: 900px;
        background-image: url("../images/desktop-works-before-medium.svg");
    }
    
    .works__item:not(:last-child){
        margin-right: 95px;
    }
    .works__item::before{
        margin-left: 0;
        margin-top: 85px;   
    }
    .works__link{
        transition: all 0.3s ease;
    }
    
    .works__link:hover{
        background-color: #66D2CF;
    }
    
    .works__link:active{
        background-color: #E2DEDB;  
    }
    
    .footer-box{
        display: flex;
        align-items: center;
    }
    
    .footer-box .logo .logo__img{
        margin-right: 103px;
        margin-bottom: 0;
    }
    
    .footer-box .footer-box__list{
        margin-left: 0;
    }
    
    
    
    .footer-box__item{
        /* width: none; */
        margin-right: 30px;
    }
    
    .footer-box__item:not(:last-child) {
        margin-bottom: 0;
    }
    
    .footer-box__item:last-child {
        margin-bottom: 0;
    }
    
    .footer-box__link{
        transition: all 0.3s ease;
    }
    .footer-box__link:hover{
        color: #FEFCF7;
    }
    
    .social__link{
        color: #fff;
        transition: all 0.3s ease;
    }
    
    .social__link:hover svg path{
        fill: #FDD6BA;
        
    }
    
}

/* =============================

DESKTOP STYLES FOR 1000px FINISH

==============================*/

@media only screen and (min-width: 1050px){
    
    /* =============================
    
    DESKTOP STYLES OUR COLLECTION BG-IMG ADDED
    
    ==============================*/
    .collection__list{
        background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 90%), url("../images/desktop/desktop-collection.svg");
        background-size: 1053px 117px;
    }
    
    
    
}

@media only screen and (min-width: 1186px){
    
    /* =============================
    
    DESKTOP STYLES GREEN CARDS OPTIMIZED
    
    ==============================*/
    
    .choose__list{
        justify-content: center;
    }
    
    .choose__item{
        max-width: 350px;
    }
    
}


@media only screen and (min-width: 1250px) {
    
    /* =============================
    
    DESKTOP STYLES BIG NUMBER'S BG-IMG OPTIMIZED
    
    ==============================*/

    .works__list::before{
        width: 1010px;
        background-image: url("../images/desktop-works-before-large.svg");
    }
}




.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 100%; 
    padding-top: 100px;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    animation: modalContentFadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes modalContentFadeIn {
    0%{
        transform: scale(0.8);
        opacity: 0.1;
    }
    
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


.modal__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    list-style: none;
}

.modal__item:not(last-child){
    margin-bottom: 32px;
}

.modal__link{
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    text-decoration: none;
}










